* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

#start_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(22, 14, 36);
    background-size: cover;
    border: 10px rgb(228, 232, 0), ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 3px black;
    width: 300px;
    height: 500px;
    overflow: wrap;
    position: relative;
    top: 0px;
    margin-top: 95px;
}

#click{
    text-align: center;
    text-decoration: none;
    background-color: rgb(57, 57, 57);
    background-size: cover;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    top: 60px;
    left: 30%;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    transition: 0.2s;
}

body {
    background: rgb(111, 168, 255);
    color: rgb(233, 187, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0px;
}

#Comenzar{
    position: absolute;
    left: 82px;
    top:40px;
}

#quiz {
    margin-top: 50px;
    position: absolute;
}


.Box {
    background-color: rgb(22, 14, 36);
    background-size: cover;
    border: 10px rgb(228, 232, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 3px black;
    width: 300px;
    height: 33em;
    overflow: wrap;
    position: relative;
    top: 20px;
}

.swal-overlay {
    background-color: rgba(71, 71, 71, 0.45);
 }


 .swal-modal {
    border: 6px solid rgb(75, 75, 75);
    width: 50%;
   border-radius: 40px;
  }

  /* Ranking List */
#ranking{
    height: 100%;
    position: absolute;
    top: 5px;
    right:20px;
    width: 100%;
}
#rankingBtn{
    background:linear-gradient(90deg, #fdfbb0, #d1df02);
    background-color: rgb(50, 13, 109);
    background-size: cover;
    color: rgb(94, 86, 0);
    position: absolute;
    top: 89.5%;
    right: 5%;
    border-radius: 100px;
    width: 65px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}

#liRank{
    padding-top: 10px;
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    margin: 1rem 0.5rem;
    background-color: grey;
    border-radius: 15px;
}

/* Close Ranking List */

#closeRanking{
    position:absolute;
    
}



#quizCont {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#question {
    margin-top: 0px;
    font-size: 1.5em;
    position: relative;
    right: 20px;
    width: 240px;
    overflow: wrap;
    padding: 0;
}

ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;
   /* padding-left: 0;
    position: relative;
    right: 40px;
    width: 290px; */
}

ul li {
    padding-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    margin: 2rem 0.5rem;
    background-color: grey;
    border-radius: 15px;
}

.girahide {
    display: none;
    font-size: 20px;
    position: absolute;
    left: 25px;
    top: 150px;
}

.girashow {
    font-size: 18px;
    position: relative;
    top:-700px;
}


.form1show{
    /* position: absolute; */
    left: 290px;
    top: 160px;

}

.form1show div input {
    margin: 10px 0 10px 0;
    height:30px;
    background-color: #d5dbe1;
}

.form1hide{
    display: none;
    position: absolute;
    left: 290px;
    top: 160px;
}



#submitform1{
    background:linear-gradient(90deg, #0162c8, #55e7fc);
    background-color: rgb(50, 13, 109);
    background-size: cover;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    position: relative;
    top: 60px;
    left: 90px;
    height: 40px;
    width: 120px;
    padding: 0;
    border-radius: 20px;
}

#h3form2{
    position: absolute;
    top: 100px;
    left: 120px;
    font-size: 1.3rem;
}

.form2show input {
    margin: 15px;
    height: 25px;
}

.h3form2hide{
    display: none;
}

.list{
    margin: 20px;
}

.btnShow{
display: block;
}
.btnHide{
    display: none;
}

#submitform2{
    background:linear-gradient(90deg, #0162c8, #55e7fc);
    background-color: rgb(50, 13, 109);
    background-size: cover;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    position: absolute;
    top: 430px;
    left: 70px;
    height: 40px;
    width: 120px;
    padding: 0;
    border-radius: 20px;
}
    .form2hide {
    
        position: absolute;
        top: 50000px;
    }

.form2show{
    /* position: absolute; */
    font-size: 1.2em;
    top:200px;
    left: 310px;
    z-index: 1;
}

#smallclick:hover{
    cursor: pointer;
    color: rgb(3, 221, 255);
}


#chart1{
    position:relative;
}

 .ct-golden-section { 
    position: absolute;                  /*esta es la clase buena */
    top: 10px;
    width: 300px; 
    background: rgb(111, 168, 255); 
    border-style: solid;
    border-color: orange; 
}



.chart{
    display:none;
    z-index: -1;
    
}

.chartdisplay{
    position:relative;
    bottom: 420px;
    overflow: wrap;
    width: 200px;
    height: 230px;

    /* z-index: 1; */
}

#google{
    
    background: none;
    background-color: none;
    background-size: cover;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    position: absolute;
    top: 340px;
    left: 90px;
}

#google img{
    border-radius: 15px;
}
.selectedAnswer{
    background-color: rgb(96, 52, 240);
}

.answer {
    display:none;
}

button {
    background:linear-gradient(90deg, #0162c8, #55e7fc);
    background-color: rgb(50, 13, 109);
    background-size: cover;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    position: relative;
    /* top: 60px; */
    height: 40px;
    width: 120px;
    padding: 0;
    border-radius: 20px;
    transition: 0.2s;
}

#submit {
    position: absolute;
    top: 620px;
}

#result {
    position: relative;
    width: 260px;
    text-align: center;
    left: 20px;
    top: 80px;
}

.ct-chart-line{
    width:20%;
}
.ct-line{
    width: 200px;
}

.ct-label.ct-horizontal.ct-end {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    transform: rotate(-30deg);
    transform-origin: 100% 0;
    text-align: right;
    max-height: 1em;
    min-width: 50px;
    max-width: 50px;
  }

  #eje_x {
    position: absolute;
    left: 15px;
    top: 120px;
    font-size: 20px;
  }
  #eje_y {
    font-size: 20px;
    position: absolute;
    left: -55px;
    top: 10px;
  }



#reload {
    position: relative;
    top: 100px;
    left: 85px;
}

#logout {
    background:linear-gradient(90deg, #6a7cf6, #3b3b3b);
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    font-size: 15px;

}



.cartHide{
    display: none;
}


/* PC */

@media screen and (min-width: 1024px) {
    
    
    /* #chartContainer{
        height:400px;
        width: 500px;
    } */

    canvas{
        width:450px; 
        height:350px;
        margin-top: 8%;
        margin-left: 8px;
    }


    .chartdisplay{
        position:absolute;
        top: 200px;
        overflow: wrap;
        width: 500px;
        height: 350px;
        /* z-index: 1; */
    }

    .ct-golden-section { 
        position: absolute;                  /*esta es la clase buena */
        top: 20px;
        width: 300px; 
        background: rgb(111, 168, 255); 
        border-style: solid;
        border-color: orange; 
    }

    #reload{
        position:relative;
        top: 200px;
    }

    #start_container {
        background-color: rgb(28, 19, 43);
        background-size: cover;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 3px black;
        width: 776px;
        height: 500px;
        overflow: wrap;
        position: relative;
        top: 40px;
    }

    #click{
        text-align: center;
        text-decoration: none;
        background-color: rgb(144, 144, 144);
        background-size: cover;
        color: #fff;
        border: none;
        display: block;
        cursor: pointer;
        font-size: 1.1rem;
        position: relative;
        top: 170px;
        left: 41%;
        height: 40px;
        width: 120px;
        border-radius: 20px;
        transition: 0.2s;
    }

    body {
        background: rgb(111, 168, 255);
        color: rgb(233, 187, 61);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: 0px;
    }

    .Box {
        background-color: rgb(28, 19, 43);
        background-size: cover;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 3px black;
        width: 776px;
        height: 500px;
        overflow: wrap;
        position: relative;
        top: 80px;
    }


    .cartHide{
        display: none;
    }
    #Comenzar{
        position: absolute;
        top: 50px;
        left: 310px;
    }

    #h3form1{
        position: absolute;
        left: 260px;
        top: 120px;
    }

    #h3form2 {
        display: none;
    }

    .form1show{
        position: absolute;
        left: 310px;
        top: 120px;

    }

    #submit {
        position: absolute;
        top: 650px;
    }

    .form1hide{

        position: absolute;
        left: 290px;
        top: 50000px;

    }

    #submitform1{
    position: absolute;
    top:300px;
    left: 10px;
    }

    #submitform2{
    position: absolute;
    top:250px;
    left: 10px;
    }

   
    .form2hide {
    
        position: absolute;
        top: 50000px;
        z-index: 1;
    }

    .form2show{
        position: absolute;
        top:150px;
        left: 310px;
        z-index: 1;
    }

    #form2 input {
        margin: 15px 0 15px 0;
    }

    small{
        position: absolute;
        left: 30px;
        top: 185px;
    }

    #smallclick{
        position: absolute;
        left: 45px;
        top: 200px;
        
    }

    #volverlogin{
        position: absolute;
        left: 20px;
        top: 220px;
    }

    #smallcuenta{
        position: absolute;
        left: -5px;
        top: 140px;
        text-decoration: none;
    }

    #smallclick2{
        position: absolute;
        left: 35px;
        top: 160px;
        cursor: pointer;
    }

    #smallclick:hover{
        cursor: pointer;
        color: rgb(3, 221, 255);
    }

    #question {
        font-size: 1.5rem;
        position: relative;
        top: 0;
        left: 0;
        width: 670px;
        overflow: wrap;
        padding: 0;
    }

    #rankingBtn{
        background:linear-gradient(90deg, #fdfbb0, #d1df02);
        background-color: rgb(50, 13, 109);
        background-size: cover;
        color: rgb(94, 86, 0);
        position: absolute;
        top: 83.25%;
        right: 25%;
        border-radius: 100px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        font-weight:bold ;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        left: 50px;
        top: 80px;
        bottom: 50px;
        width: 690px;
    }

    ul li {
        font-size: 1.5rem;
        margin: 1.5rem 1.5rem;
        padding-top:5px;
        padding-bottom: 15px;
    }

    button {
        background-size: cover;
        color: #fff;
        border: none;
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1.3rem;
        position: relative;
        top: 120px;
        height: 60px;
        width: 180px;
        padding: 0;
        border-radius: 15px;
        text-decoration: none;
        color: white;
        transition: 0.2s;
    }

    #google {
        
        position: relative;
        top: 140px;
        left: 335px;
        width: 90px;
        height: 30px;
    }



    .answer {
        display:none;
    }

    #click:hover {
        background-color: rgb(0, 0, 0);

    }

    #result {
        position: relative;
        width: 260px;
        text-align: center;
        left: 250px;
        top: 80px;
    }

    #reload {
        position: relative;
        top: 100px;
        left: 290px;
    }

    #eje_x {
        position: absolute;
        left: 15px;
        top: 320px;
        font-size: 20px;
      }
      #eje_y {
        font-size: 20px;
        position: absolute;
        left: -70px;
        top: 10px;
      }

      .girashow {
        display: none;
        font-size: 20px;
        position: absolute;
        left: 160px;
        top: 200px;
    }


}